
ICG_2016_isotopes_beamer/bo_diffusion.pdf

ICG_2016_isotopes_beamer/CIClogo.pdf

ICG_2016_isotopes_beamer/icg2016_isotopes.aux

ICG_2016_isotopes_beamer/cph_workshop_beamer.toc

ICG_2016_isotopes_beamer/icg2016_isotopes.blg

ICG_2016_isotopes_beamer/icg2016_isotopes.bbl

ICG_2016_isotopes_beamer/icg2016_isotopes.log

ICG_2016_isotopes_beamer/icg2016_isotopes.nav

ICG_2016_isotopes_beamer/icg2016_isotopes.out

ICG_2016_isotopes_beamer/icg2016_isotopes.pdf

ICG_2016_isotopes_beamer/icg2016_isotopes.snm

ICG_2016_isotopes_beamer/icg2016_isotopes.tex

ICG_2016_isotopes_beamer/icg2016_isotopes.toc

ICG_2016_isotopes_beamer/latexit.sh

ICG_2016_isotopes_notes.slides 14.41.04 copy.html

ICG_2016_isotopes_notes.slides.html

.ipynb_checkpoints/ICG_2016_isotopes_notes-checkpoint.ipynb
