
ICG_2016_isotopes_beamer/bo_diffusion.pdf

ICG_2016_isotopes_beamer/CIClogo.pdf

ICG_2016_isotopes_beamer/icg2016_isotopes.aux

ICG_2016_isotopes_beamer/cph_workshop_beamer.toc

ICG_2016_isotopes_beamer/icg2016_isotopes.blg

ICG_2016_isotopes_beamer/icg2016_isotopes.bbl

ICG_2016_isotopes_beamer/icg2016_isotopes.log

ICG_2016_isotopes_beamer/icg2016_isotopes.nav

ICG_2016_isotopes_beamer/icg2016_isotopes.out

ICG_2016_isotopes_beamer/icg2016_isotopes.pdf

ICG_2016_isotopes_beamer/icg2016_isotopes.snm

ICG_2016_isotopes_beamer/icg2016_isotopes.tex

ICG_2016_isotopes_beamer/icg2016_isotopes.toc

ICG_2016_isotopes_beamer/latexit.sh


.ipynb_checkpoints/ICG_2016_isotopes_notes-checkpoint.ipynb

hand_notes_ICG2016.pdf

ICG_2016_isotopes_notes.html

ICG_2016_isotopes_notes.slides.html

kinetic_evaporation.svg

water_isotopes_notes.txt

papers_isotopes/Augustin2004.pdf

papers_isotopes/Buizert2014.pdf

papers_isotopes/Buizert2015.pdf

papers_isotopes/Caillon2003.pdf

papers_isotopes/Vimeux1999 2.pdf

papers_isotopes/Vinther2009.pdf

papers_isotopes/Severinghaus1998.pdf

papers_isotopes/Petit1999.pdf

papers_isotopes/NGRIPmembers2004.pdf

papers_isotopes/MassonDelmotte2005.pdf

papers_isotopes/Kawamura2007.pdf

papers_isotopes/Jouzel1987.pdf

papers_isotopes/Johnsen1992.pdf

papers_isotopes/Epica2006.pdf

*.pdf
